/* Style Ordinateur / grands écrans */

.mon-footer {
    background-color: #142643; 
    color: #ffffff; 
    font-family: 'Poppins', sans-serif; 
    padding: 1.8rem; 
}

.footer-haut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}


.logo {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
}

.reseaux {
    display: flex;
    align-items: center;
    gap: 1.2rem; 
}

.reseaux a {
    color: #ffffff;
    font-size: 1.5rem; 
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease; 
}

/*  Roi Foncé au survol Bleu */
.reseaux a:hover {
    color: #1B407D; 
    transform: scale(1.1); 
}

.footer-milieu {
    text-align: center;
    margin-bottom: 1.2rem;
}

.footer-milieu a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Poppins Medium */
    font-size: 25px;  
}

.footer-milieu a:hover {
    text-decoration: underline; 
}

hr {
    display: block;
    width: 100%;
    border: 0;
    border-top: 1px solid white; 
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    clear: both;
}

.footer-bas {
    text-align: center;
}

.footer-bas p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Poppins Regular */
    font-size: 25px;  
    margin: 0;
}


/* Style mobile et tablette */

@media (max-width: 48rem) {
    .footer-haut {
        flex-direction: column;
        gap: 1.2rem; 
        text-align: center;
    }

    .reseaux {
        justify-content: center;
        gap: 1.5rem; 
    }

    .footer-milieu a {
        font-size: 8px; 
    }

    .footer-bas p {
        font-size: 8px; 
    }
}


